@charset "UTF-8";

 .content{
    display: inline;
  }

  .leftpanel{
    margin-left: 50px;
    float: left;
    width: 13%;

  }
  
   .center{
    margin-left: 50px;
    float: left;
    width: 70%;
  }

/* 메뉴바 */
  #menu{
    text-align: center;
    border-radius: 11px;
    background-color: rgb(217, 217, 217);
    margin-top: 3px;
  }
  #menu button{
    background-color: rgb(217, 217, 217);
    border: 0;
    outline: 0;
    margin: 30px;
    font-size: 16px;
    font-weight: bold;
    width: 130px;
    margin-left: 20px;
   
  }
  
   #menu button:hover{
    color: white;
    font-size: 18px;
  }
    
  .title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top : -20px;
    margin-bottom : 20px;
  }
  
   /*v프로그래스바*/
         #myProgress {
         margin-top: 8px;
         width: 150px;
         height: 50px;
         margin-left: 10px;
     }
     .mypoint{
     	 border : 0;
         width : 170px;
         height : 80px;
         margin-top : -20px;
         margin-bottom : 20px;
     }

     #ptagstar{
         margin-left: 45px;
         margin-top: 5px;
         margin-bottom: 7px;
        
     }
     #pointtt{
         font-size: small;
         margin-left: 120px;
     }
        

