@charset "UTF-8";

	/*title*/
  .mytitle{
  	font-size: 22px;
  	margin-left : 20px;
  	margin-bottom: 40px;
  	font-weight : 900;
  }
  
  #now{
    color: white;
    font-size: 18px;
  }
  
  /*사진*/
  .getboard{
       width:150px;
       height: 150px;
       border:1px solid black;
       box-shadow: 0 0px 10px 5px rgba(37, 67, 151, 0.1);
       display: inline-block;
       margin: 30px;
       border-radius: 10px;
       text-align: center;
   } 

   .getboard p{
       font-size: small;
   }

   .getboard img{
       margin-top: 20px;
       margin-bottom: 3px;
   }

   .getboard:hover{
       border-color: rgb(24, 133, 133);
       border: 2px;
   }
   
   /* 찜버튼 */
   .btn-like{
       color: transparent;
       text-shadow: 0 0 2px rgba(255,255,255,.7), 0 0 0 rgb(238, 25, 25);
       background-color: white;
       font-size: 20px;
       border-color: white;
       border: 0;
       outline: 0;
       font-weight: 400;
       margin-top: 10px;
   } 
   
   .btn-like:hover {
       text-shadow: 0 0 0 red;
   } 
  