@charset "UTF-8";

.board_list{
		width: 60%; 
		height:60%;
		margin:auto;
		margin-top: 40px;
		text-align: center;
	}

	a{
		text-decoration: none;
		color: inherit;
	}

	.board_list .paging{
		margin-top: 20px;
		font-size: 0;
	}

	.board_list .paging a{
		display: inline;
		margin-left: 10px;
		padding: 5px 10px;
		border: 1px solid #000;
		border-radius: 20px;
		font-size: 12px;
	}

	.board_list .paging a:hover{
		background-color: steelblue;
		color: white;
	}

	.Notice{
		font-size: 30px;
		color: steelblue;
	}
		
	.list {
		border-collapse: separate;
		border-spacing: 1px;
		border-top: 1px solid #ccc;
		width:80%;
		margin:auto;
		table-layout: fixed;
	}	
	.list th{
		border-bottom: 1px solid #ccc;
		background-color:rgb(236, 241, 236);
		padding: 6px;
		
	}
	.list td{
		border-bottom: 1px solid #ccc;
		font-size: 14px;
	}

	.board_list .list tbody tr td{
		padding: 5px;
	}

	.board_list .tit{
		width: 500px; 
		text-overflow: ellipsis; 
		overflow: hidden; 
		white-space: nowrap
	}

	.searchArea{
		margin-top:20px;
		
	}
		
	.list>tbody>tr:hover{
		background:rgb(235, 235, 235);
		color: black;
		cursor:pointer;
	}
	
	#writing{
		float: right;
	}
	#delete{
		float: right;
		
	}
	#correction{
		float: right;
	}