@charset "UTF-8";

.Notice{
	    font-size: 30px;
	    color: steelblue;
 }
.Write{
       width: 80%; 
       height:80%;
       margin:auto;
       margin-top: 40px;
       text-align: center;
}

#user{
    width: 97%;
}
#day{
    width: 97%;
}
#title{
    width: 99%;
}
#content{
    width: 99%;
    height: 400px;
}
#attachments{
    width: 99%;
    height: 70px;
}
#completion{
    width: 70px;
    height: 30px;
    margin-top: 30px;
    text-align: center;
}
    
.list{
    width: 80%;
}