
body{

    font-weight: bold;
}
.top{

    margin-top: 100px;
}

.center{
    height: 60%;
    margin-bottom: 280px;
}

.footer{
    font-size: x-small;
    text-align: center;
   
  
}

#logo{
    display: block;
  
    margin: auto;
    width: 300px;
    height: 200px;
}

.login{
    text-align: center;
}


#idPath, #pwdPath{
   
    width: 400px;
    height: 45px;
    margin-top: 10px;
}

#path{
    width: 410px;
    height: 45px;
    margin-top: 20px;
    background-color: rgb(201, 210, 214);
    font-size: large;
    font-weight: bold;
    color: white;
}

#line{
    width: 410px;
    color: rgb(201, 210, 214);
    border: solid 1px rgb(201, 210, 214);
}

.check{
   

    margin-right: 300px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.find{
   margin-top: 100px;
    text-align: center;
}

#footerimg{
 margin-top: 4px;
width: 20px;
height: 20px;
}

